<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <!-- The talker node will publish a custom message. -->
  <node pkg="node_example" type="talker" name="talker">
    <param name="a" value="1"/>
    <param name="b" value="2"/>
    <param name="message" value="hello"/>
    <param name="rate" value="40"/>
    <remap from="example" to="chatter"/>
  </node>

  <!-- The listener node subscribes to the custom message that talker is publishing. -->
  <node pkg="node_example" type="listener" name="listener">
    <remap from="example" to="chatter"/>
  </node>

  <include file="$(find node_example)/launch/tools.launch"/>
</launch>
